@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
  
nav {
    width: 600px;
}
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav a {
    text-decoration: none;
    color: black;
}
  
.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.search-div{
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding:0; 
    margin-bottom: 1rem; 
}

.search-bar{
    margin-top: 1rem;
    position: relative;
    display: flex;
    align-items: center;
}

.npm-logo {
    width: 90px;
    height: 25px;
    margin-right: 1rem;
    margin-top: 1rem;
    vertical-align:middle;
}
  
.mag-glass {
    width: 30px;
    position: absolute;
    top: 10px;
}

.search-area{
    background-color: rgba(246, 244, 244, 0.816);
    border: none;
    height: 2.5rem;
    letter-spacing: 1px;
    line-height: 1.5em;
    width: 75rem;
    text-indent: 30px;
}

.search-button{    
    background-color: #fb3e44;
    color: white;
    font-size: 1.2rem;
    height: 2.8rem;
    width: 6em;
}

.join-button{
    border: solid 1px;
    height: 2rem;
    margin-left: 2rem;
    text-decoration: none;
    padding: 5px 20px 5px 20px; 
    vertical-align:middle;
}

.login-button{
    margin-left: 2rem;
    text-decoration: none;
    width: 4em;
    vertical-align:middle;
}

#build-section{
    background-color: rgba(232,217,217,.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    text-align: center;
}

h1{
    font-size: 78px;
    font-weight:bolder;
    margin-bottom: 2rem;
    margin-top: 6rem;
}

.build-para{
    font-size: 18px;
    width: 500px;
    margin-bottom: 3rem;
}

.plan-button{      
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-right: 2rem;
    height: 50px;
    padding: 5px 50px 5px 50px;
    text-decoration: none;
}

.join-free-button{     
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    height: 50px;
    padding: 5px 50px 5px 50px;
    text-decoration: none;
}

#info-section{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 30rem;
    margin-top: 80px;
    text-align: center;
}

.hexagon{
    height: 250px;
    width: 350px;
}

.h2-header{
    background-color: rgba(255,204,53,.4);
    font-style: italic;
    margin-top: 2rem;
    transform: skew(9deg,0deg);
    width: 630px;
}

.info-para{
    font-size: 15px;
    width: 600px;
    margin-bottom: 3rem;
}

#features-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;
    margin-top: 3rem;
    text-align: center;
}

.features-div{
    display: flex;
    justify-content:space-around;
    height: 30rem;
    text-align:left;
}

.feature-img{
    height: 30px;
    width: 70px;
}

.feature-text{
    color: #ED1C24;
    width: 300px;
}

.feature-para{
    width: 280px;
}

.create-org-button{
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    color: white;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1rem;
    width: 500px;
}